<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Company</title>
  </head>
  <body>
    <form>
      <label for="addCompanyName">Name: </label><br />
      <input type="text" id="addCompanyName" name="addCompanyName" /><br />
      <label for="addCompanyDomain">Domain: </label><br />
      <input type="text" id="addCompanyDomain" name="addCompanyDomain" /><br />
      <label for="addCompanyPassword">Password:</label><br />
      <input
        type="password"
        id="addCompanyPassword"
        name="addCompanyPassword"
      /><br /><br />
      <input type="submit" id="addCompany" value="Add Company" />
    </form>
    <script src="./js/adminAddCompany.js"></script>
  </body>
</html>
