<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Organization Guest</title>
  </head>
  <body>
    <form>
      <label for="addOrgGuestEmail">Email: </label><br />
      <input type="text" id="addOrgGuestEmail" name="addOrgGuestEmail" /><br />
      <label for="addOrgGuestPassword">Password:</label><br />
      <input
        type="password"
        id="addOrgGuestPassword"
        name="addOrgGuestPassword"
      /><br />
      <label for="addOrgGuestFirstName">First Name: </label><br />
      <input
        type="text"
        id="addOrgGuestFirstName"
        name="addOrgGuestFirstName"
      /><br />

      <label for="addOrgGuestLastName">Last Name: </label><br />
      <input
        type="text"
        id="addOrgGuestLastName"
        name="addOrgGuestLastName"
      /><br />
      <label for="addOrgGuestCompany">Company: </label><br />
      <input
        type="text"
        id="addOrgGuestCompany"
        name="addOrgGuestCompany"
      /><br />

      <br />
      <input type="submit" id="addOrgGuest" value="Add Organization Guest" />
    </form>
    <script src="./js/adminAddOrgGuest.js"></script>
  </body>
</html>
