<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Sign Up</title>
  </head>
  <body>
    <form>
      <label for="adminFnameInput">First Name: </label><br />
      <input type="text" id="adminFnameInput" name="adminFnameInput" /><br />
      <label for="adminLnameInput">Last Name: </label><br />
      <input type="text" id="adminLnameInput" name="adminLnameInput" /><br />
      <label for="adminUpEmailInput">Email: </label><br />
      <input
        type="text"
        id="adminUpEmailInput"
        name="adminUpEmailInput"
      /><br />
      <label for="adminUpPasswordInput">Password: </label><br />
      <input
        type="password"
        id="adminUpPasswordInput"
        name="adminUpPasswordInput"
      /><br />
      <label for="adminUpGenderInput">Gender: </label><br />
      <input
        type="text"
        id="adminUpGenderInput"
        name="adminUpGenderInput"
      /><br />

      <br />
      <input type="submit" id="adminSignup" value="Sign Up" />
    </form>
    <script src="./js/adminSignupHandler.js"></script>
  </body>
</html>
