<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/homepageStyle.css" />
  </head>
  <body>
    <p><span style="color: red"> Name: </span><%= testCourse.name %></p>
    <p>
      <span style="color: red"> Instructor Name: </span><%=
      testCourse.instructor %>
    </p>
    <p><span style="color: red"> Price: </span><%= testCourse.price %></p>
    <p><span style="color: red"> Rating: </span><%= testCourse.rating %></p>
    <script src="/javascript/homepageHandler.js"></script>
  </body>
</html>
